scrape/data/votes.csv filter=lfs diff=lfs merge=lfs -text
scrape/data/scraped-voting-pages.zip filter=lfs diff=lfs merge=lfs -text
data/docs.json filter=lfs diff=lfs merge=lfs -text
data/scraped-docs.zip filter=lfs diff=lfs merge=lfs -text
